@model StreamingService.DTO.ViewModels.VideoCardViewModel
@{ 
    var heartColorClass = Model.IsFavorite ? "text-[#FF0000]" : "text-white";
 }

<div class="flex-shrink-0 w-64 xl:w-[calc((100%-96px)/5)] flex flex-col gap-3 group snap-start cursor-pointer transition-all duration-300">
     
    <div class="relative w-full aspect-[2/3] rounded-3xl overflow-hidden bg-gray-800">

        <img src="@Model.ImageUrl"
             alt="@Model.Title"
             class="w-full h-full object-cover transition-transform duration-500 group-hover:scale-110" />

        <button class="absolute top-3 right-4 z-10 transition-transform duration-300 hover:scale-110 @heartColorClass hover:text-[#FF0000]">
            <svg class="w-8 h-8 drop-shadow-md" 
                 fill="currentColor" 
                 viewBox="0 0 24 24">
                <path d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"></path>
            </svg>
        </button>

        <div class="absolute inset-0 bg-black/20 opacity-0 group-hover:opacity-100 transition-opacity pointer-events-none"></div>
    </div>

    <div class="flex items-start justify-between pl-3 pr-2">
        <div class="min-w-0">
            <h4 class="text-white font-montserrat font-semibold text-xl leading-none mb-2.5 truncate w-full" title="@Model.Title">
                @Model.Title
            </h4>

            <div class="flex items-center gap-4 font-montserrat font-semibold text-xl leading-none text-white/50">
                <span>@Model.Year</span>
                
                <span class="flex items-center gap-1 text-[#DCF260]">
                    <img src="/images/ui/symbols/star.svg" alt="Rating" class="w-5 h-5" />
                    @Model.Rating.ToString("0.0", System.Globalization.CultureInfo.InvariantCulture)
                </span>
            </div>
        </div>

        <div>

            <partial name="Partials/UI/_ContextButton" model="@(new { 
            Id = "ctxBtn-" + Model.Id,
            ExtraClasses = "-mr-2"            
            })" />
  
        </div>
        
    </div>
</div>